<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  
	<!-- <servlet>
		<servlet-name>Add</servlet-name>
		<servlet-class>com.servlets.AddServlet</servlet-class>
		
		<init-param>
			<param-name>name</param-name>
			<param-value>Sukesh</param-value>
		</init-param>
		
	</servlet>
	<servlet-mapping>
		<servlet-name>Add</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping> 
	
	<servlet>
		<servlet-name>toSq</servlet-name>
		<servlet-class>com.servlets.SqServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>toSq</servlet-name>
		<url-pattern>/sq</url-pattern>
	</servlet-mapping> 

	<context-param>
		<param-name>name</param-name>
		<param-value>Aniruddha</param-value>
	</context-param>
	
	<context-param>
		<param-name>phone</param-name>
		<param-value>Huawei</param-value>
	</context-param> -->
	
	<!--  
	<servlet>  
	<servlet-name>ctx</servlet-name>  
	<servlet-class>com.servlets.ContextServlet</servlet-class>  
	</servlet>  
	  
	<context-param>  
	<param-name>dname</param-name>  
	<param-value>sun.jdbc.odbc.JdbcOdbcDriver</param-value>  
	</context-param>  
	  
	<servlet-mapping>  
	<servlet-name>ctx</servlet-name>  
	<url-pattern>/context</url-pattern>  
	</servlet-mapping> 
	-->
  
</web-app>